{% load static %}

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet"  href="{% static 'css/background.css' %}" type="text/css">
</head>

<body>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" align="center">
          <img src="{% static './img/logo.png' %}" height="100"> </div>
      </div>
    </div>
  </div>
  <div align="center">
    <font color="white" size="6">Customer</font>
  </div>
  <form method="post" action="{% url 'chklogin' %}">
      {% csrf_token %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" align="center">
          <input name="username" id="username" type="username" placeholder="username"> </div>
      </div>
    </div>
    <div align="center">
      <input name="password" id="password" type="password" placeholder="Password"> </div>
    <div align="center">
      <input class="btn text-center btn-light" type="submit" value="login" />
    </div>
    <div align="center">
      <font color="white">Click here! if you forget your password "i will find how to click text"</font>
    </div>
  </div>
</form> 

</body>

</html>