<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="test.css" type="text/css"> </head>

<body style="background-image: url('./bg.png');">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" align="center">
          <img src="./logo.png" height="100"> </div>
      </div>
    </div>
  </div>
  <div align="center">
    <font color="white">You are..?</font>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12" align="center">
          <button class="btn text-center btn-light" type="submit">Customer</button>
        </div>
      </div>
      <div align="center">
        <font color="white">Click 'Customer' if you want to know</font>
      </div>
    </div>
    <div align="center">
      <font color="white">all of promotions </font>
    </div>
    <div align="center">
      <font color="white" size="6">or </font>
    </div>
    <div align="center">
      <button class="btn text-center btn-light" type="submit">Seller</button>
    </div>
    <div align="center">
      <font color="white">Click 'Seller' if you want to announce</font>
    </div>
    <div align="center">
      <font color="white">your promotions</font>
    </div>
  </div>
</body>

</html>